/* Area to declare variables */
:root {
    --base-size: 1em;
    --type-scale: 1.25;
    /* major third*/
    --h5: calc(var(--base-size) * var(--type-scale));
    --h4: calc(var(--h5) * var(--type-scale));
    --h3: calc(var(--h4) * var(--type-scale));
    --h2: calc(var(--h3) * var(--type-scale));
    --h1: calc(var(--h2) * var(--type-scale));
}

body {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@font-face {
    font-family: mayan;
    src: url(../fonts/Mayan.ttf);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 4px black solid;
    margin: 0px;
    width: 100%;
}

header>h1 {
    font-family: mayan;
    font-size: var(--h1);
    margin: 10px 0px;
    width: 100%;
    height: auto;
    max-width: 430px
}

#closeNav {
    justify-content: center;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

footer>section {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 4px black solid;
    padding: 20px 0px;
    width: 100%;
}

footer>section>h4,
.socials,
.contact,
.copyright {
    padding: 10px 0px;
}

figcaption,
.pdf,
header>h1 {
    text-align: center;
}

.portraitPhoto {
    margin: 0 auto;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.socialImg {
    width: 100%;
    height: auto;
    max-width: 50px;
    padding: 0px 5px;
    border: none;
}

img {
    width: 100%;
    height: auto;
    /* max-width: 800px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px black solid;
    border-radius: 10px;
}

.logo {
    width: 100px;
    height: auto;
    border: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

figure {
    margin: 0 auto;
}

main,
header {
    width: 90%;
    margin: 0 auto;
}

.aboutMe {
    text-align: justify;
}

.responsive {
    width: 100%;
}

.figCaption{
    text-align: center;
    display: block;
    margin: 0px;
}

.padding{
    padding: 10px 0px;
    }

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .headerNav {
        width: 100%;
        height: auto;
        max-width: 430px;
        margin: 10px 0px;
    }


}

@media screen and (min-width: 768px) {
    .socials {
        width: auto;

    }

    .socialImg {
        margin: 0px 10px;
    }

    main,
    footer,
    header {
        width: 80%;
        margin: 0 auto;
    }

    .aboutMe,
    .funFacts,
    .myWork,
    .resume {
        width: 600px;
    }



}


@media screen and (min-width: 1200px) {

    main,
    footer,
    header {
        width: 75%;
        margin: 0 auto;
    }

    .myWork {
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
    }

    .aboutMe,
    .funFacts,
    .myWork,
    .resume {
        width: 1000px;
    }

    .imgCard img {
        width: 100%;
        height: auto;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;


    }

    .responsive > figure {
        width: 49%;
      
    }

    h3,
    h4 {
        display: block;
    }


}